<div class="categories-container">
  <div class="category-box" style="background: #564dfe; color: #fff;">
    Vinil
  </div>
  <div class="category-box" style="background: #8492c4; color: #fff;">
    Cassete
  </div>
  <div class="category-box" style="background: #ec5ac9; color: #fff;">
    CD
  </div>
  <div class="category-box" style="background: #ffec57; color: #000;">
    Old Stuff
  </div>
</div>
