<footer class="footer mt-5 bg-black text-white">

  <div class="container d-flex justify-content-start">
    <h3 class="logo-font">REBOBINA</h3>
  </div>

  <div class="container d-flex justify-content-center">
    <p class="footer-text custom-footer-text">Rebobina © Alguns direitos reservados.</p>
  </div>

  <div class="container d-flex justify-content-end">
    <div class="social-icons mt-2">
      <i class="fa-brands fa-instagram" style="color: #fafafa;"></i>
      <i class="fa-brands fa-square-facebook" style="color: #ffffff;"></i>
    </div>
  </div>
</footer>
