<div class="product-form-container">
  <h4>Item successfully added to cart :)</h4>
    <%= simple_form_for [@product, @order] do |f| %>
      <div class="form-group text-center">
          <h4><%= f.submit 'Complete Purchase', class: "btn btn-primary button-card" %></h4>
        </div>
      <% end %>
    </div>
