.format-edit-delete-icons{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.trash-incon{
  text-decoration: none;
  color: black;
  align-items: end;
  margin-left: 10%;
}


.button-icon{
  align-items: baseline;
  margin-right: 10%;
}
